
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      User profile
    </div>
    <div class="card-body">
    	<div class="row">
	    	<div class="col-md-6 mb-xl-3">
	        	<button type="button" class="btn btn-pill btn-block btn-primary" (click)="onNewProfile()">Add Profile</button>
        	</div>
	    	<div class="col-md-6 mb-xl-3"  *ngIf="canEdit">
	       		 <button type="button" class="btn btn-pill btn-block btn-primary" (click)="onEditProfile()">Edit Profile</button>
        	</div>
        
        </div>
		<div #myGrid>
			<jqxGrid  #userprofileGrid (onRowselect)="rowSelect($event)" (onRowunselect)="rowUnSelect($event)"></jqxGrid>
		</div>
		
  </div>
</div>


<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">{{ modalTitle  }}</h4>
	        <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	
	      <div class="modal-body">
            			<form [formGroup]="profileForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
			                <div class="form-group">
			                  <div class="row">
				                  <div class="col-md-6">
				                  	<div class="form-group">
						                  <input class="form-control"
						                         id="profilename"
						                         type="text"
						                         formControlName="profilename"
						                         placeholder="Profile name"
						                         autocomplete="given-name"
						                         required
						                         autofocus
						                         [ngClass]="{ 'is-invalid': submitted && f.profilename.errors, 'is-valid': f.profilename.touched && !f.profilename.errors }" />
						                  <div *ngFor="let validation of validation_messages.profilename"  class="invalid-feedback">
						                    <div *ngIf="submitted && f.profilename.errors && f.profilename.hasError(validation.type)">
						                    	<div>{{ validation.message }}</div>
						                    </div>
						                  </div>
						              </div>
				                  </div>
				                  <div class="col-md-6">
				                  	<div class="form-group">
						                  <input class="form-control"
						                         id="profiledesc"
						                         type="text"
						                         formControlName="profiledesc"
						                         placeholder="Profile Description"
						                         autocomplete="given-name"
						                         required
						                         autofocus
						                         [ngClass]="{ 'is-invalid': submitted && f.profiledesc.errors, 'is-valid': f.profiledesc.touched && !f.profiledesc.errors }" />
						                  <div *ngFor="let validation of validation_messages.profiledesc"  class="invalid-feedback">
						                    <div *ngIf="submitted && f.profiledesc.errors && f.profiledesc.hasError(validation.type)">
						                    	<div>{{ validation.message }}</div>
						                    </div>
						                  </div>
					                 </div>
				                  </div>
			                  </div>
			                  <div class="row">
				                  <div class="col-md-6">
				                  	 <div class="form-group">
						                  <div class="custom-control custom-checkbox">
						                    <input type="checkbox"
						                           class="custom-control-input"
						                           id="profilestatus"
						                           formControlName="profilestatus"/>
						                    <label class="custom-control-label" for="profilestatus">Active?</label>
						                  </div>
						              </div>
				                  </div>
				              </div>
			                </div>
            			</form>
            	
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" (click)="onReset()">Close</button>
	        <button class="btn btn-primary" type="submit" (click)="onSubmit()">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>

<div class="col-lg-4" [hidden]="!loading">
       <div class="sk-cube-grid">
         <div class="sk-cube sk-cube1"></div>
         <div class="sk-cube sk-cube2"></div>
         <div class="sk-cube sk-cube3"></div>
         <div class="sk-cube sk-cube4"></div>
         <div class="sk-cube sk-cube5"></div>
         <div class="sk-cube sk-cube6"></div>
         <div class="sk-cube sk-cube7"></div>
         <div class="sk-cube sk-cube8"></div>
         <div class="sk-cube sk-cube9"></div>
        
       </div>
       <div class="wait">
       		Please wait.....
       </div>
       
 </div>



<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
